body {
	font-family: 'Lobster', cursive;
	margin: 0px;
}

.top {
	font-size: 110px;
	text-align: center;
	padding-top: 10%;
	color: white;
}

.middle {
	font-size: 80px;
	text-align: center;
	padding-top: 10%;
	color: white;
}


.purple-block {
  background:#512888;
  width:60%;
  padding:7% 20% 5% 20%;
  color:#BF5700;
}
.orange-block {
  background:#BF5700;
  width:60%;
  padding:7% 20% 5% 20%;
  color:#512888;
}

.slideshow {
	justify-content: center;
	display: flex;
}

.slide {
	height: 700px;
}

h1 {
	font-size: 55px;
}

p {
	text-align: center;
	font-size: 50px;
}

.flex {
	display: flex;
}

video {
	width: -webkit-fill-available;
}

.date {
	color: white;
	font-size: 65px;
	text-align: center;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #512888 49%, #BF5700 50%),    linear-gradient(-50deg, #BF5700 16px, #000 0);
}


/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #BF5700 49%, #512888 50%);
}